.conatiner{
    display: flex;
    margin-top: 0.1rem;
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(360deg, #0c0c1d, #111132);
    background-size: cover;
}
.aboutme{
   text-align: justify;
   height:  80%;
   width: 60%;
   padding-left: 10rem;
   padding-right: 1rem;
   padding-top: 3rem;
   box-sizing: border-box;
}
.aboutme h3{
    color: rgb(211, 205, 205);
    font-size: 2rem;
    font-weight: 800;
    font-family: "Rubik", sans-serif;
    letter-spacing: 0.5rem;
    margin: 1rem;
}
.btnsection button{
    padding: 1rem;
    background: none;
    border: none;
    color: rgb(34, 30, 53);
    margin-left: 1rem;
    background-color: rgb(244, 239, 239);
    border-radius: 1rem;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.myheroimg{
    height: 80%;
   width: 40%;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   z-index: 1;
}
.makeitrisposive{
    height: 100%;
    width: 100%;
}
.astro{
    width: 18rem;
 
    border-radius: 10rem;
    animation: animate  2s infinite ease alternate;
    position: absolute;
    box-shadow: 0.1rem 0.1rem 8rem 2rem #F710ED  ;
}


@keyframes animate {
    to{
        transform: translateY(1rem)
    }
}

.info{
    padding: 2%;
    height: 50%;
}
.me{
    font-family: "PT Sans", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.me span{
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: rgb(241, 30, 241);
    font-weight: 600;
    text-shadow: 1px 1px 5px rgb(134, 44, 134);
}
.education{
    font-family: "PT Sans", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.education span{
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: rgb(241, 30, 241);
    font-weight: 600;
    text-shadow: 1px 1px 5px rgb(134, 44, 134);
}
.cvbtnbox{
    margin-top: 0%;
    height: 8%;
    width: 100%;
}
.cv{
    margin: 1%;
    padding: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    background: transparent;
    border: none;
    border: 1px solid rgb(241, 241, 241);
    border-radius: 0.8rem;
    color: rgb(19, 18, 18);
    cursor: pointer;
    background-color: white;
    box-shadow: 1px 1px 10px 1px rgb(251, 15, 251);
}
.cv:hover{
    box-shadow: 1px 1px 10px 5px rgb(251, 15, 251) ;
}
.shadow{
    box-shadow: 1px 1px 10px 5px rgb(251, 15, 251) ;
  }
@media (max-width :700px){
    .conatiner{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 98vh;
        width: 100%;
        padding: 0px;
        padding-top :2rem;
       
    }
    .aboutme{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height: auto;
       padding: 0.1rem;
       width: 100%;
       margin: 0px;
     }
     .info{
        height: auto;
        overflow: auto;
     }
     .aboutme h3{
        color: rgb(211, 205, 205);
        font-size: 1rem;
        font-weight: 700;
        font-family: "Rubik", sans-serif;
        margin: 1rem;
        letter-spacing: 0.1rem;
        text-wrap: nowrap;
    }
     .btnsection{
        display:flex;
        flex-direction: row;
        gap: 0.5rem;
     }
        .btnsection button{
            margin: 0.1rem;
            padding: 0.4rem;
            border-radius: 0.6rem;
        }
        .myheroimg{
            height: 44vh;
            width: 100%
        }
        .astro{
            width: 49%;
            z-index: 1;
            box-shadow: 0.1rem 0.1rem 5rem 1rem #F710ED  
         }
         .makeitrisposive{
           height: 100%;
            width: 100%;
        }
        .cvbtnbox{
            margin-top: 2%;
            height: 3%;
            width: 100%;
            text-align: center;
            
        }
        .cv{   
            padding: 0.4rem;
            font-size: 0.9rem;
            border-radius: 0.6rem;
        }
        p{
            font-size: 0.85rem;
        }
        .education span{
            font-size: 0.9rem;
        } 
        .me span{
            font-size: 0.9rem;
          
        }
}