.main{
    height: 100vh;
    width: 100%;
   overflow: hidden;
   color: white;
background-color: rgba(42, 34, 61, 0.849);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.sidebar{
 height: 100%;

 width: 25%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 0.5rem;
}
.projects{
    height: 70%;
    width: 100%;
    border-radius: 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    background: linear-gradient(360deg, #0c0c1d, #aba8a8);
}
.projects ul{
    height: 80%;
    padding-top: 20%;

}
.btbox{
    width: 100%;
    text-align: end;
    padding: 1rem;
}
.list{
    font-size: 1.3rem;
    list-style: none;
    padding: 0.5rem;
    cursor: pointer;
     font-weight: 500;
    color: rgb(25, 14, 32);
}
.rating{
    height: 27%;
    background: linear-gradient(180deg, #0c0c1d, #918f8f);
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.bodypart{
    height: 96%;
    background: #0c0c1d;
    border-radius: 0.5rem;
    width: 75%;
    margin-right: 0.5rem;
    margin-top: 0.1rem;
    padding: 1rem;
}
.projectconatiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
    margin-top: 2.5rem;
    box-sizing: border-box;
    border-radius: 1rem;
}
.visitbtn{
    margin: 0.5rem;
    padding: 1rem;
    font-weight: 700;
    background: transparent;
    border: none;
    border: 1px solid rgb(241, 241, 241);
    border-radius: 0.8rem;
    color: rgb(19, 18, 18);
    cursor: pointer;
    background-color: white;
    box-shadow: 1px 1px 10px 1px white;
    width: 5rem;
    text-align: center;
}
.vedioconatiner{
    height: 25vh;
    width: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.projectvedio{
    object-fit: cover;
    height: 25vh;
    width: 30%;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px 4px rgb(243, 241, 241);
}
.proimg{
    width: 7rem;
    height: 7rem;
}
.tictac{
    background: linear-gradient(rgb(240, 163, 29) ,rgb(32, 32, 32));

}
.timer{
    background: linear-gradient(rgb(14, 36, 37) ,rgb(52, 122, 125));
}
.mydiary{
    background: linear-gradient(rgb(172, 175, 175) ,rgb(61, 61, 60));
}
.pikker{
    background: linear-gradient(rgb(43, 24, 57) ,rgb(52, 43, 102));
}
.btbox img{
    display: none;

}
.menu{
    width: 2rem;
    display: none;
}
.emptytext{
  height: 100%;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center ;
  gap: 0.3rem;
}
.emptytext img{
    width: 10rem;
    border-radius: 1rem;
}

.rating p{
    font-weight: 600;
    font-size: 1rem;
    color:rgb(25, 14, 32)
}




@media (max-width:700px) {
    .sidebar{
        position: absolute;
        width: 85%;
        background-color: rgba(42, 34, 61, 0.849);
        height: 100vh;
        left: -400PX;
        z-index: 1;
        transition: 0.5s;
        border-radius: 0.5rem;
       }
       .showsidebarhandel{
        position: absolute;
        width: 85%;
        left: 0px;
        z-index: 1;
       }
       .bodypart{
        height: 100vh;
        border-radius: 0.5rem;
        width: 100%;
         margin: 0px;
        padding: 1rem;
        
    }
    .projectconatiner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: 100%;
        padding: 2rem;
        gap: 1rem;
        margin: 0rem;
        box-sizing: border-box;
        border-radius: 1rem;
        margin-top: 15%
    }
    .vedioconatiner{
        height: auto;
        width: 100%;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
    }
    .projectvedio{
        object-fit: cover;
        height: 15vh;
        width: 50%;
        border-radius: 0.5rem;
        box-shadow: 1px 1px 10px 4px rgb(243, 241, 241);
    }
    .proimg{
        width: 5rem;
        height: 5rem;
    }
    .btbox img{
        display: inline-block;
        width: 1rem;
    }
    .menu{
        width: 2.7rem;
        display: block;
    }
}