html{
  scroll-snap-type: y mandatory;
  scroll-behavior : auto;
  font-family: "Nanum Gothic", sans-serif;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

section{
  height: 100vh;
  scroll-snap-align: center;
  overflow: hidden;
  position: static;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  scroll-snap-type: y mandatory;
  background-color: #0c0c1d;
  color: lightgray;
}

